@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&family=Outfit:wght@500&family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */

.logo {
    width: 80px;
}

.nav-container {
    max-width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centertab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 28%;
}


/* mainpage aboutus cases aboutus pattern text*/

.main-list a,
.aboutus-list a,
.dropbtn-cases a,
.dropbtn-collection a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 500;
    color: #3E3E3E;
    text-decoration: none;
    margin: 3.5vw;
    font-size: 21px;
    transition: all .3s ease;
}


/* cases,collection list pattern */

.cases-list,
.collection-list {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* cases,collection list text pattern */

.dropdown-cases-content a,
.dropdown-collection-content a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    float: none;
    color: #3E3E3E;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* cases dropdown */

.dropdown-cases-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: rgb(223, 223, 223);
    min-width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.cases-list:hover .dropdown-cases-content {
    display: block;
}


/* collection dropdown*/

.dropdown-collection-content {
    display: none;
    position: absolute;
    margin-left: 11px;
    top: 80px;
    background-color: rgb(223, 223, 223);
    min-width: 250px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.collection-list:hover .dropdown-collection-content {
    display: block;
}


/* see all text in dropdown list*/

.see-all {
    font-weight: 500;
}


/* dropdown content hover */

.dropdown-cases-content a:hover,
.dropdown-collection-content a:hover {
    color: #807f7f;
}


/* color hover */

.main-list a:hover,
.aboutus-list a:hover,
.dropbtn-cases a:hover,
.dropbtn-collection a:hover {
    color: #FFA92E;
}


/* search cart profile display*/

.righttab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* cart profile image */

.cart-image,
.profile-image {
    width: 100%;
}

.profile-icon {
    margin-left: 5px;
}


/* cart */

.cart-list {
    margin-top: 0.1vw;
    height: 80px;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-count-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA92E;
    right: 17px;
    top: 17px;
    height: 15px;
    width: 15px;
    border-radius: 60px;
}

.cart-count {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.589);
}

.dropdown-cart-content {
    display: none;
    position: absolute;
    top: 79px;
    right: 0;
    padding: 8px 5px;
    background-color: rgb(223, 223, 223);
    min-width: 370px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cart-title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #3E3E3E;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: left;
}

.cart-bought {
    border-top: 0.1px solid #47474746;
    padding: 8px 5px;
    background-color: rgb(223, 223, 223);
    width: 370px;
    z-index: 1;
}

.cart-bought ul li {
    height: 60px;
    border-bottom: 0.1px solid #47474746;
}

.buy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.price {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #3E3E3E;
    font-size: 14px;
    font-weight: 500;
}

.buy {
    height: 30px;
    width: 150px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 17px;
    color: #FFA92E;
    text-decoration: none;
    font-weight: 600;
}

.cart-list:hover .dropdown-cart-content {
    display: block;
}


/* search */

.search-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
}

.search-icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search-icon-wrap::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #3E3E3E;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search-icon-wrap::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #3E3E3E;
    transform: translate(6px, 6px) rotate(315deg);
}

.search-icon.search-active {
    width: 230px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.search-icon .input {
    position: relative;
    width: 230px;
    height: 20px;
    left: 44px;
    top: 10px;
}

.search-icon .input input {
    position: absolute;
    width: 65%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(315deg);
}


/* bodyy1 */


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Caption text */

.text1 {
    position: absolute;
    width: 7%;
    left: 30%;
    top: 60%;
}

.text2 {
    position: absolute;
    width: 7%;
    left: 22%;
    top: 65%;
}

.text3 {
    position: absolute;
    width: 7%;
    left: 67%;
    top: 49%;
}


/* The dots/bullets/indicators */

.dot {
    height: 0.6vw;
    width: 0.6vw;
    margin: 0 0.1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active {
    background-color: #FFA92E;
}


/* body */

.bdcontainer {
    max-width: 100%;
    background: #E3E3E3;
    margin: auto;
}

.body2 {
    max-width: 100%;
    margin: auto;
}

.body3 {
    max-width: 80%;
    margin: auto;
}


/* cases page body */


/* header */

.cases-page-body-container {
    max-width: 100%;
    background: white;
    margin: auto;
}

.cases-page-body-container .wrapper {
    max-width: 80%;
    margin: auto;
}

.cases-page-body-header {
    height: 140px;
}

.cases-page-body-header .header-title {
    height: 100px;
    margin-top: 40px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #3E3E3E;
}

.cases-page-body-header .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allproduct-text {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: 17.5px;
    color: #3E3E3E;
}


/* sort */

.dropbtn-sort {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: 17.5px;
    color: #3E3E3E;
}

.name-sort,
.price-sort {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    color: #3E3E3E;
    padding: 5px 5px;
}

.name-sort-to a,
.price-sort-to a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3E3E3E;
    padding: 0px 8px;
    text-decoration: none;
    transition: all .2s ease;
}

.name-sort-to a:hover,
.price-sort-to a:hover {
    color: #807f7f;
}

.sort-container {
    cursor: pointer;
}

.dropdown-sort {
    display: none;
    position: absolute;
    background-color: rgb(226, 226, 226);
    min-width: 100px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.show {
    display: block;
}


/* sort name */

.name-sort-to {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: 100px;
    top: 0;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    min-width: 100px;
    z-index: 1;
}

.name-sort-container:hover .name-sort-to {
    display: block;
}


/* sort price */

.price-sort-to {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: 100px;
    top: 43px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    min-width: 100px;
    z-index: 1;
}

.price-sort-container:hover .price-sort-to {
    display: list-item;
}


/* sidebar */

.cases-page-body-body {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
}

.iphone-list a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #3E3E3E;
    text-decoration: none;
    transition: all .2s ease;
}

.iphone-list a:hover {
    color: #807f7f;
}

.iphone-list {
    margin-bottom: 20px;
    top: 0;
}

.cases-product-showcase {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0 0 0 4vw;
    row-gap: 45px;
    width: 80%;
}

.cases-product-showcase .cases-product {}


/* footer */

.footer-container {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    height: 28vh;
    background-color: #D3D3D3;
}

.footwrapper {
    display: flex;
    justify-content: space-between;
    max-width: 35%;
    margin: 0 auto;
}

.aboutus-title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #3E3E3E;
    text-decoration: none;
    margin-top: 1.5vw;
    margin-bottom: 0.7vw;
}

.aboutus li {
    margin-left: 0;
    margin-top: 0.15vw;
    list-style: none;
}

.aboutus li a {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 500;
    font-size: 16.4px;
    color: #3E3E3E;
    text-decoration: none;
    transition: all .2s ease;
}

.aboutus-list2 li :hover {
    color: #807f7f;
}

.contact ul {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #3E3E3E;
    text-decoration: none;
    margin-top: 1.5vw;
}

.contact li {
    width: 40px;
    margin-left: 0;
    margin-right: 1vw;
    margin-top: 0.6vw;
    list-style: none;
}

.contact-list li {
    transition: all .2s ease;
}

.contact-list li:hover {
    filter: brightness(130%);
}


/* Fading animation slide*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Fading animation menubar*/

.fade-menubar {
    -webkit-animation-name: fade-menubar;
    -webkit-animation-duration: 0.3s;
    animation-name: fade-menubar;
    animation-duration: 0.3s;
}

@-webkit-keyframes fade-menubar {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}

@keyframes fade-menubar {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}


/* snow effect */

.snowflake {
    color: #fff;
    opacity: 0.5;
    font-size: 1.2vw;
    font-family: 'Outfit', sans-serif;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

@media (max-width: 768px) {
    /* For mobile phones: */
    .logo {
        width: 45px;
    }
    .main-list a,
    .aboutus-list a,
    .dropbtn-cases a,
    .dropbtn-collection a {
        margin: 3vw;
        font-size: 11.5px;
    }
    .cases-list:hover .dropdown-cases-content {
        display: none;
    }
    .collection-list:hover .dropdown-collection-content {
        display: none;
    }
    /* cart */
    .cart-image,
    .profile-image {
        width: 50%;
    }
    .cart-list {
        margin-top: 0;
        margin-left: 0;
        height: 40px;
        width: 25px;
    }
    .cart-count-container {
        right: 6px;
        top: 9px;
        height: 9px;
        width: 9px;
    }
    .cart-count {
        font-size: 10px;
    }
    .cart-list:hover .dropdown-cart-content {
        display: none;
    }
    /* search */
    .search-icon {
        width: 0;
        height: 0;
    }
    .search-icon-wrap {
        width: 0;
        height: 0;
    }
    .search-icon .input {
        width: 0;
        height: 0;
    }
    /* footer  */
    .footer-container {
        height: 15vh;
    }
    .footwrapper {
        max-width: 50%;
    }
    .aboutus-title {
        font-size: 14px;
        margin-top: 2.3vw;
    }
    .aboutus li a {
        font-size: 11px;
    }
    .contact-title {
        font-size: 14px;
        margin-top: 2.3vw;
    }
    .contact li {
        width: 20px;
    }
}

@media (min-width:769px) and (max-width: 1436px) {
    .logo {
        width: 55px;
    }
    .main-list a,
    .aboutus-list a,
    .dropbtn-cases a,
    .dropbtn-collection a {
        margin: 2.5vw;
        font-size: 14px;
    }
    /* footer  */
    .aboutus-title {
        font-size: 16px;
        margin-top: 2.3vw;
    }
    .aboutus li a {
        font-size: 13px;
    }
    .contact-title {
        font-size: 16px;
        margin-top: 2.3vw;
    }
    .contact li {
        width: 22px;
    }
}