{% extends 'base.html' %} {% load static %}{% block content %}
<!-- body -->
<div class="cases-page-body-container">
    <div class="wrapper">
        <div class="cases-page-body-header">
            <div class="header-title">iPhone เคส</div>
            <div class="header-body">
                <div class="allproduct-text">สินค้าทั้งหมด</div>
                <div class="sort-container">
                    <div onclick="myFunction()" class="dropbtn-sort">เรียงตาม ▾</div>
                    <div class="dropdown-sort fade-menubar" id="dropdown-sort-content">
                        <div class="name-sort-container">
                            <div class="name-sort">ชื่อสินค้า ▸</div>
                            <div class="name-sort-to">
                                <a href="" onclick="href_query_filter('order','alpha-asc')" id='alpha-asc-filter'>A to Z</a><br>
                                <a href="" onclick="href_query_filter('order','alpha-desc')" id='alpha-desc-filter'>Z to A</a>
                            </div>
                        </div>
                        <div class="price-sort-container">
                            <div class="price-sort">ราคา ▸</div>
                            <div class="price-sort-to">
                                <a href="" onclick="href_query_filter('order','price-asc')" id='price-asc-filter'>น้อย ไป มาก</a><br>
                                <a href="" onclick="href_query_filter('order','price-desc')" id='price-desc-filter'>มาก ไป น้อย</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-page-body-body">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="sidebar-iphone">
                    <div class="iphone-list">
                        <a href="" onclick="href_query_filter('model','iphone13promax')" id='iphone13promax-filter'>iPhone 13 Pro Max</a><br>
                        <a href="" onclick="href_query_filter('model','iphone13pro')" id='iphone13pro-filter'>iPhone 13 Pro</a><br>
                        <a href="" onclick="href_query_filter('model','iphone13')" id=iphone13-filter>iPhone 13</a><br>
                        <a href="" onclick="href_query_filter('model','iphone13mini')" id=iphone13mini-filter>iPhone 13 Mini</a><br>
                        <a href="" onclick="href_query_filter('model','iphone12promax')" id=iphone12promax-filter>iPhone 12 Pro Max</a><br>
                        <a href="" onclick="href_query_filter('model','iphone12pro')" id=iphone12pro-filter>iPhone 12 Pro</a><br>
                        <a href="" onclick="href_query_filter('model','iphone12')" id=iphone12-filter>iPhone 12</a><br>
                        <a href="" onclick="href_query_filter('model','iphone12mini')" id='iphone12mini-filter'>iPhone 12 Mini</a><br>
                        <a href="" onclick="href_query_filter('model','iphone11promax')" id='iphone11promax-filter'>iPhone 11 Pro Max</a><br>
                        <a href="" onclick="href_query_filter('model','iphone11pro')" id='iphone11pro-filter'>iPhone 11 Pro</a><br>
                        <a href="" onclick="href_query_filter('model','iphone11')" id='iphone11-filter'>iPhone 11</a><br>
                        <a href="" onclick="href_query_filter('model','iphonexsmax')" id='iphonexsmax-filter'>iPhone XS Max</a><br>
                        <a href="" onclick="href_query_filter('model','iphonexs')" id='iphonexs-filter'>iPhone XS</a><br>
                        <a href="" onclick="href_query_filter('model','iphonexr')" id='iphonexr-filter'>iPhone XR</a><br>
                        <a href="" onclick="href_query_filter('model','iphonex')" id='iphonex-filter'>iPhone X</a><br>
                        <a href="" onclick="href_query_filter('model','iphonese')" id='iphonese-filter'>iPhone SE</a><br>
                        <a href="/cases">ดูทั้งหมด</a>
                    </div>
                </div>
                <div class="sidebar-collection">
                    <div class="title">คอลเลคชั่น</div>
                    <div class="collection-filter">
                        <div class="filter">
                            <input type="checkbox" id=collect-vangogh>
                            <label for="collect-vangogh">Van Gogh Museum</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-onepiece>
                            <label for="collect-onepiece">One Piece</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-harry>
                            <label for="collect-harry">Harry Potter</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-snoopy>
                            <label for="collect-snoopy">Snoopy</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-pacman>
                            <label for="collect-pacman">PAC-MAN</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-cosmos>
                            <label for="collect-cosmos">Cosmos</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-doodle>
                            <label for="collect-doodle">ilovedoodle</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-lol>
                            <label for="collect-lol">League of Legends</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-pewdie>
                            <label for="collect-pewdie">PewDiePie</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=collect-keith>
                            <label for="collect-keith">Keith Haring</label>
                        </div>
                    </div>
                </div>
                <div class="sidebar-price">
                    <div class="title">ราคา</div>
                    <div class="price-filter">

                        <div class="filter">
                            <input type="checkbox" id=price0-100>
                            <label for="collect-vangogh">0-100 ฿</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=price101-200>
                            <label for="collect-onepiece">101-200 ฿</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=price201-300>
                            <label for="collect-harry">201-300 ฿</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=price301-400>
                            <label for="collect-snoopy">301-400 ฿</label>
                        </div>
                        <div class="filter">
                            <input type="checkbox" id=price401up>
                            <label for="collect-pacman">> 401 ฿</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cases-product-showcase">

                {%for obj in allproducts%}

                <div class="cases-product">
                    <a href="product/{{obj.slug}}">
                        <div class="cases-image"><img src="{% if obj.image %}{{obj.image.url}}{%endif%}" class="product-image" width=100% alt="">
                        </div>

                        <div class="detail">
                            <!-- name and model switch -->
                            <div class="cases-model">{{obj.title}}</div>
                            <div class="cases-name">{{obj.model}}</div>
                            <div class="cases-price">{{obj.price}} ฿</div>
                        </div>
                    </a>
                </div>

                {%endfor%}
            </div>
        </div>
    </div>
</div>
<script src="{%static '/js/filter_query.js'%}"></script>
<script>
    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("dropdown-sort-content").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn-sort')) {
            var dropdowns = document.getElementsByClassName("dropdown-sort");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }


    // Filter
</script>

{%endblock%}