<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form action="/cases/" method="get">
        <input type="text" name="below_price">
        <br>

        <input type="checkbox" name="red" value=true>
        <label> Red </label><br>
        <input type="checkbox" name="magsafe" value=true>
        <label> MagSafe</label><br>
        <input type="checkbox" name="desc" value=true>
        <label> Descending price order</label><br>


        <input type="submit" value="Search" />
    </form>

    <div>
        {% for case in allproduct %}
        <h1>{{case.title}}</h1>
        {{case.price}}<br> {{case.description}} {%endfor%}

    </div>

</body>

</html>