{% extends 'base.html'%} {%load static%} {% block content %}
<div class="cases-page-body-container">
    <div class="wrapper">
        <div class="cases-page-body-header">
            <div class="header-title">คอลเลคชั่น</div>
            <div class="header-body">
                <div class="allproduct-text">สินค้าทั้งหมด</div>
                <div class="sort-container">
                    <div onclick="myFunction()" class="dropbtn-sort">เรียงตาม ▾</div>
                    <div class="dropdown-sort fade-menubar" id="dropdown-sort-content">
                        <div class="name-sort-container">
                            <div class="name-sort">ชื่อสินค้า ▸</div>
                            <div class="name-sort-to">
                                <a href="?alpha-order=asc">A to Z</a><br>
                                <a href="?alpha-order=desc">Z to A</a>
                            </div>
                        </div>
                        <div class="price-sort-container">
                            <div class="price-sort">ราคา ▸</div>
                            <div class="price-sort-to">
                                <a href="?price-order=asc">น้อย ไป มาก</a><br>
                                <a href="?price-order=desc">มาก ไป น้อย</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cases-page-body-body">
            <div class="sidebar">
                <div class="iphone-list">
                    <a href="#">Van Gogh Museum</a><br>
                    <a href="#">One Piece</a><br>
                    <a href="#">Harry Potter</a><br>
                    <a href="#">Snoopy</a><br>
                    <a href="#">PAC-MAN</a><br>
                    <a href="#">Cosmos</a><br>
                    <a href="#">ilovedoodle</a><br>
                    <a href="#">League of Legends</a><br>
                    <a href="#">PewDiePie</a><br>
                    <a href="#">Keith Haring</a><br>
                    <a href="/cases/collection">ดูทั้งหมด</a>
                </div>
                <!-- maybe collection list -->
            </div>
            <div class="cases-product-showcase">

                {%for obj in allproducts%}

                <a href="/cases/product/{{obj.slug}}">
                    <div class="cases-product">
                        <div class="cases-image"><img src="{{obj.image.url}}" alt="" width=65%></div>
                        <div class="cases-name">{{obj.title}}</div>
                        <div class="cases-price">{{obj.price}}</div>
                    </div>
                </a>

                {%endfor%}

            </div>
        </div>
    </div>
</div>
<script>
    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("dropdown-sort-content").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn-sort')) {
            var dropdowns = document.getElementsByClassName("dropdown-sort");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

{% endblock %}