{% extends 'base.html'%} {%load static %} {% block content %}

<!-- SlideShowBody -->
<div class="slideshow-container">

    <div class="mySlides fade">
        <a href="#"><img src="{%static '/images/bgwithphone1.png'%}" style="width:100%">
            <div class="text1"><img src="{%static '/images/buynow2.svg'%}" style="width:100%"></div>
        </a>
    </div>

    <div class="mySlides fade">
        <a href="#"><img src="{%static '/images/bgwithphone2.png'%}" style="width:100%">
            <div class="text2"><img src="{%static '/images/buynow2.svg'%}" style="width:100%"></div>
        </a>
    </div>

    <div class="mySlides fade">
        <a href="#"><img src="{%static '/images/bgwithphone3.png'%}" style="width:100%">
            <div class="text3"><img src="{%static '/images/buynow2.svg'%}" style="width:100%"></div>
        </a>
    </div>

</div>
<br>

<!-- dot -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<br>

<!-- body2 -->
<div class="bdcontainer">
    <div class="body-container">
        <div class="body2">
            <a href="#"><img src="{%static '/images/bodybg2.svg'%}" style="width:100%"></a>
        </div>
        <div class="body3">
            <a href="#"><img src="{%static '/images/bodybg3.svg'%}" style="width:100%"></a>
        </div>
    </div>
</div>


<!-- snoweffect -->
<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
    <div class="snowflake">
        .
    </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    var slides, dots;

    function currentSlide(index) {
        if (index > slides.length) {
            index = 1
        } else if (index < 1) {
            index = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" dot-active", "");
        }
        slides[index - 1].style.display = "block";
        dots[index - 1].className += " dot-active";
        slideIndex = index;
    }

    function showSlides() {
        var i;
        slides = document.getElementsByClassName("mySlides");
        dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" dot-active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " dot-active";
        setTimeout(showSlides, 7000); // Change image every 7 seconds
    }
</script>

{%endblock%}