<div class="sidebar-price">
    <div class="title">ราคา</div>
    <div class="price-filter">

        <div class="filter">
            <input type="checkbox" id=price0-100>
            <label for="collect-vangogh">0-100 บาท</label>
        </div>
        <div class="filter">
            <input type="checkbox" id=price101-200>
            <label for="collect-onepiece">101-200 บาท</label>
        </div>
        <div class="filter">
            <input type="checkbox" id=price201-300>
            <label for="collect-harry">201-300 บาท</label>
        </div>
        <div class="filter">
            <input type="checkbox" id=price301-400>
            <label for="collect-snoopy">301-400 บาท</label>
        </div>
        <div class="filter">
            <input type="checkbox" id=price401up>
            <label for="collect-pacman">มากกว่า 401 บาท</label>
        </div>
    </div>
</div>